* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Helvetica, sans-serif;

}

.navbar {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

/* The logo is just taking the width of the p-tag
We set the height so we see changes */
.logo {
height:100%;
  background-color: green;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

#site_logo{font-size: large;
font-weight: bold;}

/* #site_logo{align-items: center;} */

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;



}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 0 20px;
}


/* main body styling */

.LHS {

  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


.headlines {
  border: 2px solid black;
  padding: 30px;
  margin: 30px;
}

.RHS {

  border: solid 2px black;
  width: 30%;
  margin: 30px;
  padding: 30px;
}

/* Algning the left and right side */

.content {


  background-color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;

}