* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Helvetica, sans-serif;

}

.navbar {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: black;
  color: white;
}

/* The logo is just taking the width of the p-tag
We set the height so we see changes */
.logo {
  height: 100%;
  background-color: green;
  display: flex;
  align-items: center;
}

#site_logo {
  font-size: large;
  font-weight: bold;
  padding: 0 30px;
}


/* links section */

.links {
  height: 100%;
  background-color: black;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content:right;
  align-items: center;
  height: 100%;

}

.links a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 0 80px; 


}

a:hover {
  margin: auto;
  background-color: tomato;
 
}





/* main body styling */

.LHS {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}



.headlines {
  border: 2px solid black;
  padding: 30px;
  margin: 30px;
}

.list{
  padding-left: 40px;
  padding-top: 20px;
}


.RHS {

  border: solid 2px black;
  width: 30%;
  margin: 30px;
  padding: 30px;
}

/* Algning the left and right side */

.content {


  background-color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;

}


